{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<center>
    <div style="display:inline-block;vertical-align:top;">
        <h4><b>Daphne</b></h4>
        <img src="{{url_for('static', filename='/images/juli.jpg')}}" height="526" width="400" style="border-radius: 50%;">
    </div>
    
    <div style="display:inline-block;">
        <p>Title: Chief Marketing Officer</p>
        <p><b>Username: d4phn3</b></p>
        <p><b>Password: plkn3sJ19$23</b></p>
        <p><b>Email: daph_smaph@gmail.com</b></p>
    </div>
</center>


{% endblock %}