{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}

<center>
    <div style="display:inline-block;vertical-align:top;">
        <h4><b>Persephone</b></h4>
        <img src="{{url_for('static', filename='/images/perse.jpg')}}" height="526" width="400" style="border-radius: 50%;">
    </div>
    
    <div style="display:inline-block;">
        <p>Title: Co-Owner</p>
        <p><b>Username: perseph0ne</b></p>
        <p><b>Password: 9WLcau)tn123</b></p>
        <p><b>Email: garden_goddess@gmail.com</b></p>
    </div>
</center>


{% endblock %}